<%- include('../partials/header') %>
<h1 class="header">Airline: <%= flight.airline %> | Flight <%= flight.flightNo %></h1>
<!-- Other flight details -->

<h2>Flight Destinations</h2>
<ul>
  <% flight.destinations.forEach(destination => { %>
    <li>Airport: <%= destination.airport %>, Arrival: <%= destination.arrival %></li>
  <% }); %>
</ul>

<h2>Add A Destination</h2>
<form action="/flights/<%= flight._id %>/add-destination" method="POST">
  <label for="airport">Airport:</label>
  <select name="airport" id="airport" required>
    <option value="AUS">Austin - AUS</option>
    <option value="DFW">Dallas/Fort Worth - DFW</option>
    <option value="DEN">Denver - DEN</option>
    <option value="LAX">Los Angeles - LAX</option>
    <option value="SAN">San Diego - SAN</option>
  </select>

  <label for="arrival">Arrival Date/Time:</label>
  <input type="datetime-local" name="arrival" id="arrival" required>

  <button type="submit">Submit</button>
</form>


<h2>Tickets</h2>
<ul>
  <% tickets.forEach(ticket => { %>
    <li>
      Seat: <%= ticket.seat %>, Price: <%= ticket.price %>
    </li>
  <% }); %>
</ul>

<!-- Form for creating new tickets -->
<h2>Create a New Ticket</h2>

<form action="/flights/<%= flight._id %>/tickets" method="POST">
  <!-- Other form fields -->
  <label for="seat">Seat:</label>
  <!-- Input field with pattern attribute -->
  <input type="text" id="seat" name="seat" required pattern="[A-F][1-9]\d?">
  <label for="price">Price:</label>
  <input type="number" id="price" name="price" min="0" required>
  <button type="submit">Create Ticket</button>
</form>
<%- include('../partials/footer') %>